@font-face{
font-family:"Chickpeas";
src:url("./fonts/Chickpeas.ttf");
}


*{
margin:0;
padding:0;
box-sizing:border-box;
}


body{
background:#fafafa;
font-family:Arial,sans-serif;
}



header{

background:#eaf2f5;

height:80px;

display:flex;
align-items:center;

padding:0 100px;

position:relative;

}


.logo{

font-size:55px;

position:absolute;

left:100px;

}


.logo span{
font-size:35px;
vertical-align:top;
}



nav{

width:100%;

display:flex;

justify-content:center;

gap:70px;

}


nav a{

text-decoration:none;

color:black;

font-size:14px;

}



.title{

text-align:center;

margin-top:45px;
margin-bottom:40px;

}


.title h1{

font-family:"Chickpeas";

font-size:80px;

font-weight:normal;

}



.categories{

display:flex;

justify-content:center;

gap:30px;

margin-bottom:70px;

}



.category{

text-align:center;

}


.category img{

width:430px;
height:230px;

border-radius:25px;

object-fit:cover;

}


.category p{

margin-top:10px;

font-size:22px;

}



.cards{

width:72%;

margin:auto;

}



.card{

background:#f5f2cf;

border-radius:30px;

padding:35px;

display:flex;

justify-content:space-between;

margin-bottom:50px;

}



.text{

width:58%;

line-height:1.6;

}


.text h2{

font-size:45px;
font-weight:normal;
margin-bottom:25px;

}


.text p{

margin-bottom:22px;

}



.image-block{

display:flex;

flex-direction:column;

align-items:center;

}



.image-block img{

width:380px;

height:430px;

border-radius:25px;

object-fit:cover;

margin-bottom:25px;

}



button{

width:380px;

height:65px;

border:none;

border-radius:35px;

background:#dff0ff;

font-size:22px;

cursor:pointer;

}
.intro{
margin-bottom:25px;
}

.subtitle{
margin-bottom:18px;
}

.list{
margin-bottom:35px;
line-height:1.5;
}

.details{
margin-bottom:1px;
line-height:1;
}

.price{
margin-top:30px;
}